<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Видеогалерия</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="contact">
        <div class="container-fluid">
            <div class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <img src="../assets/icons/gerb.svg" alt="error">
                        <div class="text">
                            <h5>Қашқадарё вилояти</h5>
                            <h4>Бандлик бош бошқармаси</h4>
                        </div>
                    </div>
                    <button type="button" class="btn d-none"><img src="../assets/icons/menus.svg" alt="error"></button>
                    <ul class="nav align-items-center">
                        <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/phone.svg" alt="error"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link">+998(71) 233-22-00</a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/miniphone.svg" alt="error"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/gless.svg" alt="error"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link">o‘zb</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">ўзб</a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/lupa.svg" alt="error"></a></li>
                    </ul>
                </div>
            </div>
            <!--        desktop-->
            <div class="menus">
                <div class="container">
                    <ul class="nav">
                        <li class="nav-item"><a href="#" class="nav-link">Бошқарма</a>
                            <ul class="nav">
                                <li class="nav-item"><a href="#" class="nav-link">Бошқарма ҳақида</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Раҳбарият</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Ҳодимлар</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Бошқарма тузилмаси</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Фаолият йўналишлари</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link">Ҳудудий бўлимлар</a>
                            <ul class="nav">
                                <li class="nav-item"><a href="#" class="nav-link">Қарши шаҳри</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Шаҳрисабз шаҳри</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Ғузор тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Деҳқонобод тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Касби тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Китоб тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Косон тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Қамаши тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Қарши тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Миришкор тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Муборак тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Нишон тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Чироқчи тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Шаҳрисабз тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Яккабоғ тумани</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link">Касбга ўқитиш</a>
                            <ul class="nav">
                                <li class="nav-item"><a href="#" class="nav-link">“Ишга Марҳамат” Мономарказ</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">KOICA</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Деҳқонобод тумани касб-ҳунарга ўқитиш
                                    маркази</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link">Матбуот маркази</a>
                            <ul class="nav">
                                <li class="nav-item"><a href="#" class="nav-link">Янгиликлар</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Фотогалерия</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Видеогалерия</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link">Меъёрий-ҳуқуқий хужжатлар</a>
                            <ul class="nav">
                                <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси қонунлари</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси Президенти Фармон
                                    ва Қарорлари</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси Вазирлар Маҳкамаси
                                    Қарорлари</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси Бандлик ва меҳнат
                                    муносабатлари вазирлиги меъёрий хужжатлари</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link">Боғланиш</a></li>
                    </ul>
                </div>
            </div>
            <!--        mobile-->
            <div class="submenus">
                <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Бошқарма</a>
                        <ul class="nav">
                            <li class="nav-item"><a href="#" class="nav-link">Бошқарма ҳақида</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Раҳбарият</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Ҳодимлар</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Бошқарма тузилмаси</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Фаолият йўналишлари</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Ҳудудий бўлимлар</a>
                        <ul class="nav">
                            <li class="nav-item"><a href="#" class="nav-link">Қарши шаҳри</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Шаҳрисабз шаҳри</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Ғузор тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Деҳқонобод тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Касби тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Китоб тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Косон тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Қамаши тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Қарши тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Миришкор тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Муборак тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Нишон тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Чироқчи тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Шаҳрисабз тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Яккабоғ тумани</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Касбга ўқитиш</a>
                        <ul class="nav">
                            <li class="nav-item"><a href="#" class="nav-link">“Ишга Марҳамат” Мономарказ</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">KOICA</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Деҳқонобод тумани касб-ҳунарга ўқитиш
                                маркази</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Матбуот маркази</a>
                        <ul class="nav">
                            <li class="nav-item"><a href="#" class="nav-link">Янгиликлар</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Фотогалерия</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Видеогалерия</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Меъёрий-ҳуқуқий хужжатлар</a>
                        <ul class="nav">
                            <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси қонунлари</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси Президенти Фармон ва
                                Қарорлари</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси Вазирлар Маҳкамаси
                                Қарорлари</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси Бандлик ва меҳнат
                                муносабатлари вазирлиги меъёрий хужжатлари</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Боғланиш</a></li>
                </ul>
            </div>
            <div class="body">
                <div class="body-content"></div>
                <div class="body-text">
                    <p>Видеогалерия</p>
                </div>
            </div>
            <div class="address">
                <div class="container">
                    <div class="row">
                            <div class="col-5">
                                <div class="card">
                                   <div class="card-body">
                                       <div class="addres-email">
                                           <div class="navigation">
                                               <div class="navi-photo">
                                                   <img src="../assets/icons/mapnavi.svg" alt="error">
                                               </div>
                                               <div class="navigation-title">
                                                   <h4>манзил</h4>
                                                   <p>180100, қашқадарё вилояти,  Қарши шаҳри, хонабод кўчаси 46 уй </p>
                                               </div>
                                           </div>
                                           <div class="pochta">
                                               <div class="pochta-photo">
                                                   <img src="../assets/icons/poshta.svg" alt="error">
                                               </div>
                                               <div class="pochta-title">
                                                   <h5>почта манзили</h5>
                                                   <p>180100, қашқадарё вилояти,  Қарши шаҳри, хонабод кўчаси 46 уй </p>
                                               </div>
                                           </div>
                                           <div class="phone">
                                               <div class="phone-photo">
                                                   <img src="../assets/icons/homephone.svg" alt="error">
                                               </div>
                                               <div class="phone-title">
                                                   <h5>телефон рақам</h5>
                                                   <a href="#" class="nav-link">+998 75 224-04-80</a>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="registr">
                                           <input type="text" class="form-control" placeholder="Ф.И.Ш">
                                           <input type="email" class="form-control" placeholder="Почта манзили">
                                           <input type="number" class="form-control" placeholder="Телефон рақами">
                                           <textarea cols="30" name="text" rows="5" class="form-control" placeholder="Хабар"></textarea>
                                           <button type="button" class="btn btn-dark">юбориш</button>
                                       </div>
                                   </div>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="card">
                                    <div class="card-body">
                                        <img src="../assets/images/mapsend.svg" alt="error">
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








<script src="../js/jquery-3.3.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>