<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>касбга ўқитиш</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <div class="profession">
        <div class="container-fluid">
            <div class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <img src="../assets/icons/gerb.svg" alt="error">
                        <div class="text">
                            <h5>Қашқадарё вилояти</h5>
                            <h4>Бандлик бош бошқармаси</h4>
                        </div>
                    </div>
                    <button type="button" class="btn d-none"><img src="../assets/icons/menus.svg" alt="error"></button>
                    <ul class="nav align-items-center">
                        <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/miniphone.svg" alt="error"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/gless.svg" alt="error"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link">o‘zb</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">ўзб</a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><img src="../assets/icons/lupa.svg" alt="error"></a></li>
                    </ul>
                </div>
            </div>
            <!--        desktop-->
            <div class="menus">
                <div class="container">
                    <ul class="nav">
                        <li class="nav-item"><a href="#" class="nav-link">Бошқарма</a>
                            <ul class="nav">
                                <li class="nav-item"><a href="#" class="nav-link">Бошқарма ҳақида</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Раҳбарият</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Ҳодимлар</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Бошқарма тузилмаси</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Фаолият йўналишлари</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link">Ҳудудий бўлимлар</a>
                            <ul class="nav">
                                <li class="nav-item"><a href="#" class="nav-link">Қарши шаҳри</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Шаҳрисабз шаҳри</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Ғузор тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Деҳқонобод тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Касби тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Китоб тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Косон тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Қамаши тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Қарши тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Миришкор тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Муборак тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Нишон тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Чироқчи тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Шаҳрисабз тумани</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Яккабоғ тумани</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link">Касбга ўқитиш</a>
                            <ul class="nav">
                                <li class="nav-item"><a href="#" class="nav-link">“Ишга Марҳамат” Мономарказ</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">KOICA</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Деҳқонобод тумани касб-ҳунарга ўқитиш маркази</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link">Матбуот маркази</a>
                            <ul class="nav">
                                <li class="nav-item"><a href="#" class="nav-link">Янгиликлар</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Фотогалерия</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Видеогалерия</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link">Меъёрий-ҳуқуқий хужжатлар</a>
                            <ul class="nav">
                                <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси қонунлари</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси Президенти Фармон ва Қарорлари</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси Вазирлар Маҳкамаси  Қарорлари</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси Бандлик ва меҳнат муносабатлари вазирлиги меъёрий хужжатлари</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" class="nav-link">Боғланиш</a></li>
                    </ul>
                </div>
            </div>
            <!--        mobile-->
            <div class="submenus">
                <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link">Бошқарма</a>
                        <ul class="nav">
                            <li class="nav-item"><a href="#" class="nav-link">Бошқарма ҳақида</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Раҳбарият</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Ҳодимлар</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Бошқарма тузилмаси</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Фаолият йўналишлари</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Ҳудудий бўлимлар</a>
                        <ul class="nav">
                            <li class="nav-item"><a href="#" class="nav-link">Қарши шаҳри</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Шаҳрисабз шаҳри</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Ғузор тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Деҳқонобод тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Касби тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Китоб тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Косон тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Қамаши тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Қарши тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Миришкор тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Муборак тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Нишон тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Чироқчи тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Шаҳрисабз тумани</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Яккабоғ тумани</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Касбга ўқитиш</a>
                        <ul class="nav">
                            <li class="nav-item"><a href="#" class="nav-link">“Ишга Марҳамат” Мономарказ</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">KOICA</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Деҳқонобод тумани касб-ҳунарга ўқитиш маркази</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Матбуот маркази</a>
                        <ul class="nav">
                            <li class="nav-item"><a href="#" class="nav-link">Янгиликлар</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Фотогалерия</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Видеогалерия</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Меъёрий-ҳуқуқий хужжатлар</a>
                        <ul class="nav">
                            <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси қонунлари</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси Президенти Фармон ва Қарорлари</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси Вазирлар Маҳкамаси  Қарорлари</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Ўзбекистон Республикаси Бандлик ва меҳнат муносабатлари вазирлиги меъёрий хужжатлари</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Боғланиш</a></li>
                </ul>
            </div>
            <div class="body">
                <div class="body-content"></div>
                <div class="body-text">
                    <p>касбга ўқитиш</p>
                </div>
            </div>
            <div class="skills">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">
                                    <img src="../assets/icons/moni.svg" alt="error">
                                </div>
                                <div class="card-body">
                                    <p>Қарши “Ишга Марҳамат” Мономаркази</p>
                                </div>
                                <div class="card-footer">
                                    <div class="people-name d-flex align-items-center mb-3">
                                        <img src="../assets/icons/skelet.svg" alt="error">
                                        <p>Қўзиев Азим Абдуллаевич</p>
                                    </div>
                                    <div class="navigation d-flex align-items-center mb-3">
                                        <img src="../assets/icons/navi.svg" alt="error">
                                        <p>Қашқадарё вилояти Дехқонобод тумани Нодира МФЙ Фурқат кўчаси 1-уй</p>
                                    </div>
                                    <div class="people-tel d-flex align-items-center">
                                        <img src="../assets/icons/phone.svg" alt="error">
                                        <p>+99875 612-16-25</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">
                                    <img src="../assets/icons/koica.svg" alt="error" style="width: 200px;">
                                </div>
                                <div class="card-body">
                                    <p>Қарши “Ишга Марҳамат” Мономаркази</p>
                                </div>
                                <div class="card-footer">
                                    <div class="people-name d-flex align-items-center mb-3">
                                        <img src="../assets/icons/skelet.svg" alt="error">
                                        <p>Қўзиев Азим Абдуллаевич</p>
                                    </div>
                                    <div class="navigation d-flex align-items-center mb-3">
                                        <img src="../assets/icons/navi.svg" alt="error">
                                        <p>Қашқадарё вилояти Дехқонобод тумани Нодира МФЙ Фурқат кўчаси 1-уй</p>
                                    </div>
                                    <div class="people-tel d-flex align-items-center">
                                        <img src="../assets/icons/phone.svg" alt="error">
                                        <p>+99875 612-16-25</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">
                                    <img src="../assets/icons/gerb.svg" alt="error">
                                </div>
                                <div class="card-body">
                                    <p>Қарши “Ишга Марҳамат” Мономаркази</p>
                                </div>
                                <div class="card-footer">
                                    <div class="people-name d-flex align-items-center mb-3">
                                        <img src="../assets/icons/skelet.svg" alt="error">
                                        <p>Қўзиев Азим Абдуллаевич</p>
                                    </div>
                                    <div class="navigation d-flex align-items-center mb-3">
                                        <img src="../assets/icons/navi.svg" alt="error">
                                        <p>Қашқадарё вилояти Дехқонобод тумани Нодира МФЙ Фурқат кўчаси 1-уй</p>
                                    </div>
                                    <div class="people-tel d-flex align-items-center">
                                        <img src="../assets/icons/phone.svg" alt="error">
                                        <p>+99875 612-16-25</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>














<script src="../js/jquery-3.3.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>